/* css reset start */ 
:root{ 
    --brand-color: #4CAF4F; 
    --btn-text-color: #FFFFFF; 
    /* --btn-outline-color: #4CAF4F;  */
    --default-bg: #F5F7FA;
    /* --white-bg: #FFFFFF; */
    --title-color: #4D4D4D;
    --para-color: #717171;
} 

*, *::before, *::after { 
    padding: 0; 
    margin: 0; 
} 

q:before, q:after { 
    content: ""; 
} 

html, body, h1, h2, h3, h4, p, ol, ul, li, figure, figcaption, blockquote, dl, dd { 
    margin: 0; 
    padding: 0; 
} 

html:focus-within { 
    scroll-behavior: smooth; 
} 

body { 
    min-height: 100vh; 
    text-rendering: optimizeSpeed; 
    line-height: 1.5; 
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto;     
    font-style: normal;  
     overflow-x: hidden;           
} 

ul, ol { 
    list-style: none; 
} 

a { 
    text-decoration: none; 
} 

img { 
    max-width: 100%; 
    display: block; 
} 

input, button, textarea, select { 
    font: inherit; 
} 
/* css reset end */ 

/* common css start */ 
.container{ 
    max-width: 1152px; 
    margin: auto; 
    justify-content: space-between; 
} 

.flex{ 
    display: flex; 
} 

.align-items-center{ 
    align-items: center; 
} 

.btn{ 
    font-size: 14px;  
    font-weight: 500; 
    padding: 8px 24px; 
    border-radius: 6px;     
    cursor: pointer; 
    text-align: center; 
    border: 2px solid transparent; 
    text-decoration: none; 
    display: inline-block; 
    align-items: center; 
    justify-content: center; 
    padding: 0; 
    line-height: 20px; 
} 

.btnLogin { 
    background-color: transparent; 
    color: var(--brand-color); 
     border: 2px solid transparent;  
    width: 77px; 
    height: 40px; 
} 


.btnBg { 
    width: 91px; 
    height: 40px; 
    background-color: var(--brand-color); 
    color: var(--btn-text-color); 
    border: 2px solid #4CAF4F; 
} 
/* common css end */ 

nav{ 
    padding: 30px; 
    width: 100%; 
    position: absolute; 
} 

nav .flex { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    column-gap: 0px; 
} 

/*navbar start */ 

/* logo */ 
.navLogo { 
    width: 154.49px; 
    margin-right: 166.01px;  
} 

/* menu */ 
.navMenu { 
    width: 588px;  
    justify-content: center;
    margin-right: 124.5px; 
} 

/* menu items */ 
.navMenu ul {  
    margin: 0; 
    padding: 0; 
    align-items: center; 
    justify-content: center; 
    gap: 50px; 
} 

.navMenu ul li a { 
    color: #18191F;  
    text-decoration: none; 
    font-weight: 500; 
    font-size: 16px; 
} 

/* button */ 
.navbtn { 
    width: 182px; 
     display: flex; 
    justify-content: flex-end; 
} 

.navbtn ul { 
    /* display: flex; */ 
    gap: 14px; 
    margin: 0; 
    padding: 0; 
} 

.navbtn li a{ 
    text-decoration: none; 
    color: var(--brand-color); 
    font-weight: 500; 
} 
/* navbar end */ 

/* hero section start */ 
#hero{ 
  /* height: 599px;  */
    height: auto;
    padding: 96px;
    display: flex; 
    align-items: center; 
    background-color: var(--default-bg);  
} 

.heroWrapper{ 
    display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
    max-width: 1152px;  
  margin: 0 auto; 
  width: 100%; 
} 

/* Inside Hero Container */ 
.heroContent { 
    display: flex; 
    /* align-items: flex-start;  */
    /* height: auto;
    width: 657px; */
    /* height: 276px;  */
    /* width: auto;
    max-width: 100%; */
    flex-direction: column; 
  justify-content: flex-start;
  margin-top: 161.5px;
  margin-bottom: 161.5px; 
    /* width: 100%;
  max-width: 1152px; */
  /* gap: 104px;   */
  
}


 /* Hero Text  */
 /* Hero content */
.heroContent h1:first-child {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
  color: var(--title-color); 
  margin-bottom: 0px;
  white-space: nowrap;
}

.heroContent h1:nth-child(2){
  font-weight: 600; 
  font-size: 64px;
  line-height: 76px; 
  color: var(--brand-color); 
  margin-bottom: 16px; 
}

.heroContent p {
  font-weight: 400; 
  font-size: 18px;
  line-height: 24px;
  color: var(--para-color);
  margin-bottom: 32px; 
}

/* Hero button */
.heroContent .btn {
  font-weight: 400; 
  font-size: 16px;
  line-height: 24px;
  color: var(--btn-text-color);
  background-color: var(--brand-color);
  width: 128px;
  height: 52px;
  padding: 14px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* Hero Image */ 
.heroImg { 
    width: 391px;
  height: 407px;
  display: flex;
  justify-content: flex-end;
  padding: 96px; 
} 

.heroImg img {  
     width: 100%;
  height: auto;
  display: block;
} 
/* hero section end */


/* client section start */
#clients{
  background-color: #FFFFFF; 
  padding-top: 40px; 
}


.clientsWrapper{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;
  max-width: 1152px;  
  width: 100%; 
}


.clientsWrapper h2{
  font-weight: 600; 
  font-size: 36px; 
  line-height: 44px;
  color: var(--title-color); 
  margin: 0;
}


 .clientsWrapper p{
  font-weight: 400; 
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
  margin: 0;
  padding: 8px;
}


.clientLogos.flex {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: nowrap; 
  gap: 136px;
  width: 100%; 
  padding: 0 0; 
}


.clientLogos img {
  width: 48px;
  height: 48px;
  object-fit: contain; 
  padding: 25px; 
}
/* client section end */

/* community section start */
#community {
  padding: 40px 0; 
  background-color: #FFFFFF;;
}


.communityWrapper {
  max-width: 1152px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center; 
  gap: 16px; 
}


.communityHeader {
  text-align: center;
}

.communityHeader h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: var(--title-color);
}

.communityHeader h1:nth-child(2) {
  color: var(--title-color);
}

.communityHeader p {
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
  margin-top: 8px;
  margin-bottom: 16px; 
}


.communityFeatures {
  display: flex;
  justify-content: center;
  gap: 127.5px; 
  width: 100%;
}

.featureCard {
  flex: 1 1 0;
  max-width: 299px;
  height: 260px; /* adjust height if needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 24px 32px;
}

.featureCard img {
  width: 299px;
  height: 260px; 
  object-fit: cover;
  border-radius: 8px;
}
/* community section end */

/* pixelgrade section start */
#pixelGrade {
  background-color: #FFFFFF; 
  padding: 42px ; 
}

.pixelGradeWrapper {
  display: flex;
  max-width: 1152px; 
  margin: 0 auto;
  gap: 49px; 
  align-items: flex-start;
}

.pixelImg img {
  width: 442px;
  height: 433px;
  object-fit: cover; 
}

.pixelContent {
  width: 600px;
  height: 268px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pixelContent h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600; 
  color: var(--title-color);
  margin: 0;
}

.pixelContent h2:nth-child(2) {
  color: var(--title-color);
  margin-top: 0; 
  padding-bottom: 16px;
}

.pixelContent p {
  font-size: 14px;
  line-height: 20px;
  color: var(--para-color);
  margin: 8px 0; 
  font-weight: 400;
}

.pixelContent .btn {
  width: 151px;
  height: 52px;
  margin-top: 16px;
  background-color: var(--brand-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 32px;
  gap: 10px;
}
/* pixelgrade section end */

/* helping section start */
#helping {
  padding-top: 48px; 
  background-color: var(--default-bg); 
}

.helpingWrapper {
  display: flex;
  max-width: 1152px;
  margin: 0 auto;
  gap: 42px; 
  align-items: flex-start;
}


.helpingContent {
  width: 540px;
  padding: 84px 0; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.helpingContent h2:first-child {
  color: var(--title-color);
}

.helpingContent h2:nth-child(2) {
  color: var(--brand-color);
}

.helpingContent h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  margin: 0;
}

.helpingContent p {
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
  margin-top: 16px;
}

/* Logo Image */
.helpingLogoImg {
  width: 540px;
  height: 160px;
  padding: 64px 0; 
  display: flex;
  justify-content: flex-end; 
}

.helpingLogoImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* helping section end */

/* design sample start */
#designSample {
  background-color: #FFFFFF; 
  padding-top: 48px; 
  padding-bottom: 48px;
}

.designSampleWrapper {
  max-width: 1152px; 
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 49.47px; /* gap between image and content */
}

/* Image container */
.designSampleImg img {
  width: 441.53px;
  height: 433.4px;
  object-fit: cover;
}

/* Content container */
.designSampleContent {
  width: 661px;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 62.7px; 
  padding-bottom: 62.7px; 
}


.designSampleContent h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: var(--title-color);
  margin: 0;
}


.designSampleContent p {
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
  margin: 16px 0; 
}


.designSampleContent .btn {
  width: 151px;
  height: 52px;
  background-color: var(--brand-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  padding: 14px 32px;
  gap: 10px;
}
/* design sample end */

/* earpods section start */
#headphone {
  background-color: var(--default-bg);
  padding-top: 48px;
  padding-bottom: 48px;
}


.headphoneWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 78px; 
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 1152px; 
  margin: 0 auto;
}


.headphoneImg img {
  width: 326px;
  height: 326px;
  object-fit: cover;
}


.headphoneContent {
  width: 748px;
  height: 244px;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 113px;
}

.headphoneContent p {
  font-size: 16px;
  color: var(--para-color);
  line-height: 24px;
  font-weight: 400;
}
 

.headphoneContent h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--brand-color);
  margin-top: 16px; 
  margin-bottom: 8px;
}


.headphoneContent img {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  object-fit: contain;
}
/* earpods section end */

/* marketing section start */
#marketing {
  background-color: #FFFFFF;
  padding-top: 48px; 
  padding-bottom: 94.6px;
}


.marketingWrapper {
  max-width: 1152px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.marketingHeader {
  text-align: center;
  max-width: 700px;
}

.marketingHeader h1 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: var(--title-color);
  margin-bottom: 8px;
}

.marketingHeader p {
  font-size: 16px;
  line-height: 24px;
  color: var(--para-color);
  margin-bottom: 16px;
  font-weight: 400;
}


.marketingFeatures {
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  margin-top: 16px;
}

.marketingFeatures .card {
  width: 368px;
  height: 366px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.marketingFeatures .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}
/* marketing section end */

/* 2nd footer section start */
#secondFooter {
  background-color: var(--default-bg); 
  display: flex;
  justify-content: center;              
  align-items: center;       
}

.secondFooterWrapper {
  max-width: 1152px;
  margin: 0 auto;                     
  text-align: center;                    
  width: 100%;
}


.secondFooterWrapper h2 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
  color: var(--title-color);
  margin: 0;  
  padding-top: 32px;                        
}


.secondFooterWrapper h2:nth-child(2) {
  padding-bottom: 32px;
  padding-top: 0px; 
}


.secondFooterBtn {
  width: 178px;
  height: 52px;
  background-color: var(--brand-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 32px;
}
/* 2nd footer section end */

/* footer start */
/* footer end */